@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');
h4{
    font-family: 'Roboto', sans-serif;

}

*{
    background-color: darkgray;
}



p{
 font-family: 'Roboto Slab', serif;
 color: black;


}

.navbar{
    text-align: center;
    margin:30px;
    font-family: 'Knewave', ;

}

.container-fluid{
   background-color: #4B4565;
}
