/* @import url('https://fonts.googleapis.com/css?family=Alata|Signika&display=swap');


h4{
    font-family: 
}

*{
    background-color: #93C1AD;;
}

.article_result{
    margin:20px;
}

p{
    font-family: 
    /* font-size: 15px; */
}

.navbar{
    text-align: center;
    margin:30px;
    font-family: 
    font-size: 40px;
}

.container-fluid{
   background-color: #4B4565;
} */
