@import url('https://fonts.googleapis.com/css2?family=Muli');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');


 h1{
    text-align: center;
    color: blue;
    font-family: 'ABeeZee'
}

 h3{
     text-align: center;
     font-size: medium;
     font-family: 'Muli', sans-serif;
    
 }
 
 
 #concept{
     background-color:#93C1AD;
     font-family: 'ABeeZee';
     font-size: medium;
 }



