@import url('https://fonts.googleapis.com/css2?family=Muli');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

/* @media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: rgb(138, 127, 127);
        color: red;
        
    } */

 h1{
    text-align: center;
    color: blue;
    font-family: 'ABeeZee'
}

 h3{
     text-align: center;
     color: blue;
     font-family: 'Muli', sans-serif;
    
 }
 
 
 
 #concept{
     background-color:#93C1AD;
     font-family: 'ABeeZee'
 }



